# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/express_template_db

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=1d

# Seed Configuration
SUPERADMIN_EMAIL=superadmin@agam.com
SUPERADMIN_PASSWORD=Admin@123
